* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #7159c1;
    font-family: Roboto, Arial, sans-serif;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
  }
  
  form {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: darkslateblue;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
  form .btn-login {
    display: inline;
    min-width: 120px;
    border: none;
    background-color: #7159c1;
    color: white;
    border-radius: 5px;
<<<<<<< HEAD
=======
    margin-left: 65px;
    padding: 7px;
    cursor: pointer;
  }

.edit {
    display: inline;
    min-width: 120px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
>>>>>>> developer
    margin: auto;
    padding: 7px;
    cursor: pointer;
  }

<<<<<<< HEAD
  form .btao {
=======

  .excluir {
>>>>>>> developer
    display: inline;
    min-width: 120px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
<<<<<<< HEAD
    margin: auto;
    padding: 7px;
    cursor: pointer;
=======
    margin-left: 70px;
    padding: 7px;
    cursor: pointer;
  }

  .select{
    display: inline;
    min-width: 120px;
    border: none;
    background-color: #7159c1;
    color: white;
    border-radius: 5px;
    margin: auto;
    padding: 7px;
    margin-top: 13px;

>>>>>>> developer
  }

h2 {
    color:aliceblue;
}

h5,ul {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
    color:aliceblue;
}
